<div class="container">
  <table *ngIf="infoEmp" class="tabel-container">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Time in Month</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let info of infoEmp"
        [ngClass]="info.totalHours < 100 ? 'color-table' : '' "
      >
        <td>{{info.name}}</td>
        <td>{{info.totalHours}}</td>
        <td><a href="#">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!!chartOptions" class="canvas-container">
  <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
</div>
