.container {
    padding-bottom: 50px;
    margin: auto;
    
    .tabel-container {
        border-collapse: collapse;
        margin: auto;

        thead th {
            background-color: red;
            color: #ffff;
            font-weight: bold;
            border: 1px solid red;
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
        }

        tbody td {
            border: 1px solid #9b9b9b;
        }

        .color-table {
            background-color: #fbccbd;
        }
    }   
}

.canvas-container {
    margin: auto;
    width: 50%;
}